* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-y: scroll;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--color-font);
  background-color: var(--color-bg);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.light-theme {
  --color-font: black;
  --color-bg: white;
  --color-accent: white;
  --color-green: lightgreen;
  --color-footer: lightgray;
  --color-billing-accent: white;
  --theme: 'dark';
}

.dark-theme {
  --color-font: white;
  --color-bg: rgb(39, 39, 39);
  --color-accent: rgb(75, 75, 75);
  --color-green: rgb(37, 83, 37);
  --color-footer: gray;
  --color-billing-accent: rgb(168, 168, 168);
  --theme: 'light';
}

.App {
  min-height: 100vh;
}

.container {
  margin: 0 5vw 200px 5vw;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 220px;
  width: 100vw;
  text-align: center;
  background-color: var(--color-green);
  padding: 40px;
  height: 220px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.header .theme-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 20px;
  border: none;
  border-radius: 3px;
  background-color: var(--color-bg);
  color: var(--color-font);
}

.animate-header {
  height: 120px;
  padding: 0 10px 10px 10px;
}

.spacer {
  height: 200px;
}

.footer {
  text-align: center;
  height: 150px;
  margin-top: -150px;
  background-color: var(--color-footer);
  padding: 40px;
}

.logo {
  position: fixed;
  top: 40px;
  left: 50%;
  width: 420px;
  margin-left: -210px;
  -webkit-transition: 500ms all;
  transition: 500ms all;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.3em;
}

.logo .y {
  font-family: 'Just Me Again Down Here', cursive;
  color: red;
}

.logo .a1 {
  font-family: 'Just Me Again Down Here', cursive;
  color: orange;
}

.logo .r {
  font-family: 'Just Me Again Down Here', cursive;
  color: yellow;
}

.logo .n {
  font-family: 'Just Me Again Down Here', cursive;
  color: green;
  letter-spacing: 10px;
}

.logo .t {
  vertical-align: -55px;
  margin-right: 10px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.logo .t img {
  width: 60px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.logo .t img.animate-t-img {
  width: 25px;
}

.logo .animate-t {
  vertical-align: -25px;
}

.logo .o {
  font-family: 'Marck Script', cursive;
  color: blue;
}

.logo .p {
  font-family: 'Marck Script', cursive;
  color: indigo;
}

.logo .i {
  font-family: 'Marck Script', cursive;
  color: violet;
}

.logo .a2 {
  font-family: 'Marck Script', cursive;
  color: red;
}

div.animate-logo {
  margin-left: 0px;
  width: 170px;
  left: 5%;
  top: 40px;
  font-size: 20px;
}

.searchbar-container {
  position: fixed;
  top: 260px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  -webkit-transition: top 500ms;
  transition: top 500ms;
}

.searchbar-container input {
  border: 1px solid gray;
  width: 100%;
  height: 40px;
  color: black;
  background-color: #dbdbdb;
  padding: 0 10px;
  font-size: large;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.searchbar-container input::-webkit-input-placeholder {
  color: dimgray;
  text-align: center;
}

.searchbar-container input:-ms-input-placeholder {
  color: dimgray;
  text-align: center;
}

.searchbar-container input::-ms-input-placeholder {
  color: dimgray;
  text-align: center;
}

.searchbar-container input::placeholder {
  color: dimgray;
  text-align: center;
}

.animate-search {
  top: 40px;
}

.animate-search .animate-search-input {
  background-color: white;
}

.no-results {
  text-align: center;
  padding-top: 350px;
}

.product-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 320px;
  padding-bottom: 200px;
}

.product-grid .grid-item-appear {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.product-grid .grid-item-appear-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 500ms ease-out;
  transition: -webkit-transform 500ms ease-out;
  transition: transform 500ms ease-out;
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

.product-grid .products:hover {
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.product-grid .products {
  cursor: pointer;
  margin: 20px;
  text-align: center;
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.product-grid .products img {
  width: 250px;
  height: 250px;
}

.product-grid .products h3 {
  padding: 30px 10px;
}

.product-grid .products p {
  padding: 0 10px 30px 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.377);
  z-index: 2;
}

.product-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: var(--color-accent);
  color: var(--color-font);
  top: 5vh;
  width: 70vw;
  left: 15vw;
  z-index: 3;
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
}

.product-modal img {
  width: 50%;
  display: inline-block;
}

.product-modal .info-div {
  position: relative;
  padding: 40px;
  width: 50%;
}

.product-modal .info-div h3 {
  text-align: center;
}

.product-modal .info-div p {
  margin-top: 40px;
}

.product-modal .info-div .modal-price {
  font-size: 20px;
  position: absolute;
  left: 20%;
  bottom: 65px;
}

.product-modal .info-div button {
  cursor: pointer;
  position: absolute;
  right: 10%;
  bottom: 60px;
  background-color: #ffca19;
  height: 30px;
  width: 150px;
}

.checkout-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.checkout-container {
  position: absolute;
  right: 5%;
  top: 40px;
  width: 80px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.checkout-container .snipcart-checkout {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.checkout-container .snipcart-checkout img {
  width: 40px;
}

.checkout-container .snipcart-items-count {
  color: white;
  position: absolute;
  left: 38px;
  top: -12px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 40px;
}

#snipcart {
  font-family: "Kumbh Sans", sans-serif;
}

#snipcart .snipcart-cart-header {
  background-color: var(--color-green);
  color: var(--color-font);
  width: 100vw;
}

#snipcart .snipcart-cart-header__close-button {
  margin-left: 40px;
  color: var(--color-font);
  font-family: "Kumbh Sans", sans-serif;
}

#snipcart .snipcart-cart-header__title {
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
}

#snipcart .snipcart-cart-header__options {
  margin-right: 40px;
}

#snipcart .snipcart-cart-header__icon {
  opacity: 0;
}

#snipcart .snipcart-cart-header__option {
  font-family: "Kumbh Sans", sans-serif;
  cursor: auto;
  background-image: url(../src/img/cart.png);
  width: 40px;
  height: 40px;
  background-size: 40px 43px;
  padding-bottom: 40px;
  padding-right: 13px;
  color: white;
  font-size: 18px;
  font-weight: bolder;
}

#snipcart .snipcart-modal {
  background-color: var(--color-bg);
  color: var(--color-font);
}

#snipcart .snipcart-modal__container {
  background-color: var(--color-bg);
}

#snipcart .snipcart-cart__footer {
  background-color: var(--color-bg);
}

#snipcart .snipcart-cart__content {
  background-color: var(--color-bg);
}

#snipcart .snipcart-discount-box__button {
  background-color: var(--color-bg);
}

#snipcart .snipcart__box {
  color: var(--color-font);
  background-color: var(--color-billing-accent);
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
}

#snipcart .snipcart-cart-summary__content {
  background-color: var(--color-billing-accent);
  -webkit-box-shadow: 0 0 8px black;
          box-shadow: 0 0 8px black;
}

#snipcart .snipcart-cart-summary {
  background-color: var(--color-billing-accent);
}

#snipcart .snipcart-item-line {
  background-color: var(--color-accent);
  -webkit-box-shadow: 2px 2px 8px gray, -2px -2px 8px gray;
          box-shadow: 2px 2px 8px gray, -2px -2px 8px gray;
}

#snipcart .snipcart-item-line__title {
  font-family: "Kumbh Sans", sans-serif;
}

#snipcart .snipcart-item-line__container {
  background-color: var(--color-accent);
}

#snipcart .snipcart-form {
  font-family: "Kumbh Sans", sans-serif;
}

#snipcart .snipcart-cart-summary-fees {
  color: var(--color-font);
}

#snipcart .snipcart__font--secondary {
  color: var(--color-font);
}

#snipcart .snipcart__font--slim {
  color: var(--color-font);
}

#snipcart .snipcart__font--tiny {
  color: var(--color-font);
}

#snipcart .snipcart__font--std {
  color: var(--color-font);
}

#snipcart h3.snipcart-featured-payment-methods__title {
  color: var(--color-bg);
}

@media only screen and (max-width: 950px) {
  .animate-search {
    top: 100px;
  }
  .modal .product-modal {
    top: 10vh;
    width: 90vw;
    left: 5vw;
  }
  .modal .product-modal img {
    width: 50vw;
    height: 50vw;
    margin: auto;
  }
  .modal .product-modal .info-div {
    position: relative;
    padding: 10px;
    width: 100%;
  }
  .modal .product-modal .info-div h3 {
    text-align: center;
  }
  .modal .product-modal .info-div p {
    margin-top: 20px;
    text-align: center;
  }
  .modal .product-modal .info-div .modal-price {
    left: 0;
    bottom: 80px;
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .modal .product-modal .info-div button {
    background-color: #ffca19;
    bottom: 40px;
    height: 30px;
    width: 80%;
  }
}

@media only screen and (max-width: 670px) {
  .container {
    margin: 0 2vw 200px 2vw;
  }
  .searchbar-container {
    margin-left: -181px;
    width: 362px;
  }
  .product-grid .products {
    margin: 3vw;
    width: 40vw;
  }
  .product-grid .products img {
    width: 40vw;
    height: 40vw;
  }
  .product-grid .products h3 {
    padding: 20px 10px;
  }
  .product-grid .products p {
    padding: 0 10px 20px 10px;
  }
  .product-grid .products:hover {
    background-color: white;
    -webkit-transform: none;
            transform: none;
  }
  .logo {
    top: 40px;
    left: 50%;
    width: 420px;
    margin-left: -210px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.2em;
  }
  div.animate-logo {
    margin-left: 0px;
    width: 250px;
    left: 5%;
    top: 30px;
    font-size: 30px;
  }
  .checkout-container {
    top: 30px;
  }
  .modal .product-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 10vh;
    width: 70vw;
    left: 15vw;
    padding: 10px;
    border-radius: 10px;
  }
  .modal .product-modal img {
    width: 50vw;
    height: 50vw;
    margin: auto;
    border-radius: 5px;
  }
  .modal .product-modal .info-div {
    position: relative;
    padding: 10px;
    width: 100%;
  }
  .modal .product-modal .info-div h3 {
    text-align: center;
  }
  .modal .product-modal .info-div p {
    margin-top: 20px;
    text-align: center;
  }
  .modal .product-modal .info-div .modal-price {
    position: static;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .modal .product-modal .info-div button {
    border-radius: 5px;
    position: static;
    background-color: #ffca19;
    height: 30px;
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */